---
export interface Props {
  blank?: boolean;
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  tabindex?: string;
}

const { blank, href, className, ariaLabel, title, tabindex } = Astro.props;
---

<a
  target={blank}
  type="button"
  href={href}
  tabindex={tabindex}
  class={`group ${className}`}
  aria-label={ariaLabel}
  title={title}
>
  <slot />
</a>

<style>
  a {
    @apply hover:text-skin-accent;
  }
</style>
